{% extends 'base.html.twig' %}

{% block title %}Play Externals{% endblock %}

{% block body %}
    <h1>Play Externals</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Poster</th>
                <th>Premiere_date</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for play_external in play_externals %}
            <tr>
                <td>{{ play_external.id }}</td>
                <td><img src="{{ asset(play_external.poster) }}" ></td>
                <td>{{ play_external.premiereDate ? play_external.premiereDate|date('Y-m-d') : '' }}</td>
                <td>{{ play_external.description }}</td>
                <td>
                    <a href="{{ path('play_external_site_show', {'id': play_external.id}) }}" class="btn btn-info">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
