{% extends 'adminbase.html.twig' %}

{% block title %}GalleryImages{% endblock %}

{% block body %}
    <h1>GalleryImages  <a href="{{ path('gallery_image_new') }}" class="btn btn-success">Create new</a></h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>Description</th>
                <th>Gallery</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for gallery_image in gallery_images %}
            <tr>
                <td>{{ gallery_image.id }}</td>
                <td><img src="{{ asset(gallery_image.image) }}"></td>
                <td>{{ gallery_image.description }}</td>
                <td>{{ gallery_image.gallery.title }}</td>
                <td>{{ gallery_image.createdAt ? gallery_image.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ gallery_image.updatedAt ? gallery_image.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('gallery_image_show', {'id': gallery_image.id}) }}" class="btn btn-info">show</a>
                    <a href="{{ path('gallery_image_edit', {'id': gallery_image.id}) }}" class ="btn btn-warning">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
